<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Albums</key>
	<array>
		<array>
			<string>The Squealing Fans Covers Project (Lemonheads Tribute)</string>
			<string>lemonheads.png</string>
			<string>2010</string>
			<string>85 track Lemonheads covers project</string>
			<array>
				<string>Break Me</string>
			</array>
		</array>
		<array>
			<string>Echoes In the Alleyway (Doves Tribute)</string>
			<string>echoesinthealleyway.png</string>
			<string>2010</string>
			<string>Echoes in the alleyway is a covers album by fans of doves. Available for free download from http://www.echoesinthealleyway.com</string>
			<array>
				<string>The Cedar Room</string>
			</array>
		</array>
		<array>
			<string>Illuminate</string>
			<string>ill.png</string>
			<string>2010</string>
			<string>The Nurse Who Loved Me return with their third full length album, ‘ILLUMINATE’ featuring the two singles ‘The Final Sleep’ and ‘Scared &amp; Alone’

The 12 track album was recorded and produced by the band as a 2 piece, with Guitarist/Vocalist Steve Weston also providing drum duties. Bassist Lee ‘Meat Arm’ Yates also wrote and played alot of guitar parts, making this album take a whole new direction to previous Nurse releases, pushing their big ambient sound, with more lush melody’s, this record is their most complete yet</string>
			<array>
				<string>Will I Sink?</string>
				<string>The Final Sleep</string>
				<string>Our Rescue</string>
				<string>Not Like Me</string>
				<string>Recovery</string>
				<string>Scared &amp; Alone</string>
				<string>Staring At The Sun</string>
				<string>Treehouse</string>
				<string>Words &amp; Regrets</string>
				<string>Be There</string>
				<string>Why Do I Still Think Of You?...</string>
				<string>Slowest Summer</string>
			</array>
		</array>
		<array>
			<string>The Final Sleep</string>
			<string>finalsleep.png</string>
			<string>2009</string>
			<string>Free Download Single</string>
			<array>
				<string>The Final Sleep</string>
			</array>
		</array>
		<array>
			<string>Here, Again, Somewhere</string>
			<string>hereagainsomewhere.png</string>
			<string>2008</string>
			<string>7 Track Mini Album</string>
			<array>
				<string>Hear The Squad</string>
				<string>Inside Down</string>
				<string>Cannot Compare</string>
				<string>We All Stand Alone</string>
				<string>Beat Me Sensible</string>
				<string>The Crunch</string>
				<string>Never Enough</string>
			</array>
		</array>
		<array>
			<string>In This Room</string>
			<string>inthisroom.png</string>
			<string>2007</string>
			<string>12 Track Album</string>
			<array>
				<string>The Meat Process</string>
				<string>Dont Destroy</string>
				<string>No Ones Different</string>
				<string>Crossed Our Lines</string>
				<string>Are We Still Alive</string>
				<string>Space Invadors</string>
				<string>Hide Secrets</string>
				<string>This Is The End</string>
				<string>Coleman</string>
				<string>Should Of Known</string>
				<string>Dogzilla</string>
				<string>Complete Rewind</string>
			</array>
		</array>
		<array>
			<string>After The Latest Vandal Attack</string>
			<string>vandalattack.png</string>
			<string>2006</string>
			<string>12 Track Debut Album</string>
			<array>
				<string>After The Latest Vandal Attack </string>
				<string>Not Cautious </string>
				<string>Around Again </string>
				<string>Surrender </string>
				<string>Instrumental </string>
				<string>Like They Dont Exist </string>
				<string>I&apos;ll Pretend, I&apos;ll Pretend </string>
				<string>Fast Goon </string>
				<string>Silhouette </string>
				<string>Pass The Blame </string>
				<string>So Long </string>
				<string>Meatslop </string>
			</array>
		</array>
		<array>
			<string>4 Track ep</string>
			<string>nursecd2004.png</string>
			<string>2003</string>
			<string>Debut release</string>
			<array>
				<string>After The Latest Vandal Attack </string>
				<string>Gotta Come Back</string>
				<string>Radio </string>
				<string>Rod Song (Dont Wait) </string>
			</array>
		</array>
	</array>
</dict>
</plist>
